.main__container .sbui-auth {
  width: 350px;
  padding: 15px;
  background: rgba(248, 249, 250, 1);
  border-radius: 5px;
}

.main.main_center {
  justify-content: center;
  grid-area: 2 / 1 / span 1 / span 3;
}

.sbui-auth .sbui-btn-primary {
  background-color: #0079bf;
}

.sbui-auth .sbui-btn-primary:hover {
  background-color: #00c2e0;
}

.sbui-auth .sbui-typography-link {
  color: rgba(31, 31, 31, 1);
}
