.card {
  width: 308px;
  border-radius: 3px;
  min-height: 80px;
  box-shadow: 0 1px 0 #091e4240;
  border: none;
  margin-bottom: 10px;
}
.img {
  width: 308px;
  height: 153px;
  object-fit: fill;
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.edit_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.blosk_close {
  align-items: flex-start;
}

.btn_close {
  display: block;
  color: lightgrey;
  cursor: pointer;
  transition: 1s;
}

.btn_close:hover {
  color: grey;
}

.btn_clipboard {
  z-index: 10;
  display: block;
  margin-left: 10px;
  padding: 0.25rem 0.25rem;
  color: #818a91;
  cursor: pointer;
  background-color: lightgrey;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0;
}
.btn_clipboard:hover {
  opacity: 1;
}
.link {
  text-decoration: none;
}
.ml {
  margin-left: 10px;
}
a {
  text-decoration: none !important;
}

.card_labels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card_label {
  min-width: 30px;
  min-height: 10px;
}
