.card {
  width: 256px;
  border-radius: 3px;
  min-height: 80px;
  box-shadow: 0 1px 0 #091e4240;
  border: none;
  margin-bottom: 10px;
}
.img {
  width: 256px;
  height: 153px;
  object-fit: fill;
}
.bd_clipboard {
  position: relative;
  float: right;
}
.btn_clipboard {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  display: block;
  padding: 0.25rem 0.5rem;
  color: #818a91;
  cursor: pointer;
  background-color: lightgrey;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0;
}
.btn_clipboard:hover {
  background-color: white;
  opacity: 0.7;
}
.link {
  text-decoration: none;
}
.ml {
  margin-left: 10px;
}
a {
  text-decoration: none !important;
}

.card_labels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card_label {
  min-width: 30px;
  min-height: 10px;
}

.cover__color {
  width: 100%;
  height: 100px;
}

.cover__pic {
  max-width: 100%;
  margin-bottom: 5px;
}

.cover__pic img {
  width: 272px;
}