.upload_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload_avatar .upload_header {
  border-bottom: none !important;
}

.upload_modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile .label {
  width: 350px;
  box-sizing: border-box;
}
