/* Index Styles */

.main {
  grid-area: main;
  height: 100%;
  max-width: 100%;
  margin: 0 1em;
  background-color: rgba(127, 255, 212, 0.192);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
