@import url("./nullstyle.css");

/* Main App Style */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
  grid-row-gap: 1em;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
}

/* Header Styles */

.header {
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 1em; */
  background-color: #026aa7;
  padding: 0 10px;
}

/* Navigation Styles */

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav > * + * {
  margin: 0 1em;
}

.header__nav {
}
.nav__button .nav_button__more {
  width: 24px;
  height: 24px;
  background-image: url("../assets/more.svg");
  background-color: transparent;
}
.nav__button .nav_button__trello {
  background: transparent;
  color: white;
}

/* Search Input Styles */

/* Style the input container */

.search__container .search__container__input {
  padding: 6px;
  /* font-size: 16px; */
  border: none;
  border-radius: 5px;
}

.search__container button:hover {
  background: #ccc;
}

/* Aside Styles */
.aside {
  grid-area: aside;
  height: 100%;
  width: 100%;
  margin: 0 10px;
  background-color: lightskyblue;
}

/* Main Styles */

.main {
  grid-area: main;
  height: 100%;
  max-width: 100%;
  margin: 0 1em;
  background-color: lightslategray;
}

/* Footer Styles */

.footer {
  grid-area: footer;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #026aa7;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__item a {
  color: whitesmoke;
}

.footer__item__icon-git {
  height: 1.5em;
}

.footer__item__icon-rss {
  height: 3em;
}

/* workspace boards styles*/

.workspace__boards .heading-h3 {
  color: rgb(23, 43, 77);
  margin-bottom: 10px;
}

.workspace__boards.board__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.board__list__board.card {
  width: 165px;
  height: 65px;
  padding: 5px;
  background-color: darkviolet;
  border-radius: 5px;
}

.board__list__board.board__list__board_new-board {
  background-color: #ccc;
  color: #172b4d;
  display: flex;
  justify-content: center;
  align-items: center;
}
