.description-text {
  background-color: whitesmoke;
  overflow: hidden;
}

.hover:hover {
  background-color: rgb(207, 207, 207);
}

.discription-control {
  margin-top: 20px;
  display: flex;
  align-items: center;

}

.btn-close {
  margin-left: 50px;
}