/* discription element styles */
.description-text {
  background-color: whitesmoke;
  overflow: hidden;
}

.hover:hover {
  background-color: rgb(207, 207, 207);
}

.discription-control {
  margin-top: 20px;
  display: flex;
  align-items: center;

}

/* check-list styles */
.add-checkbox {
  margin-top: 10px;
}

.check-list-items{
  margin-top: 15px;
}

/* all styles */
.btn-close {
  margin-left: 50px;
}

.hidden {
  display: none;
}