/* Header Styles */

.header {
  grid-area: header;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(2, 106, 167, 0.75);
  padding: 0 1em;
}

/* Navigation Styles */

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav > * + * {
  margin: 0 1em;
}

.nav__button .nav_button__more {
  width: 24px;
  height: 24px;
  background-image: url('../../assets/more.svg');
  background-color: transparent;
}
.nav__button .nav_button__trello {
  background: transparent;
  color: white;
}

.nav__button__sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.header__nav .sbui-btn-primary {
  background-color: #0079bf;
  width: fit-content;
}

.header__nav .sbui-btn-primary:hover {
  background-color: #00c2e0;
}
