/* discription element styles */
.task-description-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-text {
  background-color: whitesmoke;
  overflow: hidden;
}

.hover:hover {
  background-color: rgb(207, 207, 207);
}

.discription-control {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.edit-task-description, .save-task-description {
  width: 70px;
  height: 30px;
  text-align: center;
  padding: 0px !important;
  margin: 0px;
}

.edit-task-description {
  margin-left: 20px;
}

/* check-list styles */
.check-list {
  padding-top: 20px;
}

.check-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-checkbox {
  margin-top: 10px;
}

.check-list-items {
  margin-top: 15px;
}

.add-check-list-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-list-name-input {
  margin-left: auto auto;
  width: 80%;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

.add-check-list-menu .delimiter {
  width: 100%;
}

#add-check-list {
  margin: auto;
  display: block !important;
  width: 80%;
  text-align: center;
  border: 1px solid #6c757d;
  border-radius: 5px;
  color: #fff;
  background-color: #6c757d;
}

/* sidebar-buttons */
.side-buttons {
  box-sizing: border-box;
  border-left: 1px solid rgb(202, 202, 202);
}

#input-group-dropdown-2 {
  width: 100%;
}

/* dropdown lists */
.dropdown-menu {
  width: 300px;
}

.edit-button {
  width: 10px;
  height: 25px;
  background-image: url('../../assets/edit.png');
  border: none !important;
}

/* labels */
.label-item {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.label {
  margin: 0;
  width: 85%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding-left: 5px;
}

#add-label {
  display: block !important;
  width: 100%;
  text-align: center;
}

#search-label {
  display: block !important;
  width: 100%;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}

.search-input {
  width: 90%;
  margin-left: 5%;
  background-image: url('../../assets/svg/search.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}

.label.active {
  background-image: url('../../assets/svg/active.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* curent labels styles */
.current-labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.current-label {
  min-width: 50px;
  height: 25px;
  position: relative;
  margin-right: 5px;
  padding: 0px 5px !important;
  border: none;
}

.current-label-content {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.current-label::after {
  content: none !important;
}

/* deadline dropdown styles */
.deadline-text {
  text-align: center;
  margin-bottom: 10px;
}

.start-task-date, .end-task-date {
  margin-left: 15px;
  width: 130px;
}

.calendar-range-toggle {
  margin-left: 15px;
}

/* current deadline styles */
.current-deadline {
  padding: 0px 5px !important;
  height: 25px;
}

.current-deadline::after {
  content: none !important;
}

/* services section */
.services-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.service-title {
  margin: 0px;
}


/* all styles */
.modal-content {
  height: 1px;
  min-height: 80vh;
}

.container {
  height: 100%;
}

.content {
  height: 100%;
}

.btn-close {
  margin-left: 50px;
}

.hidden {
  display: none;
}

.aside-buttons {
  width: 120px;
  margin-bottom: 10px;
}