/* Workspace boards styles*/

.board__list__board.card {
  position: relative;
  width: 165px;
  height: 65px;
  background-color: darkviolet;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.board__list__board.card.card_add-new-board {
  background-color: #ccc;
}
.board__list__board.card.card_add-new-board > button {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.board__list__board.card.card_add-new-board > button:hover {
  background-color: #ccc;
  border-color: #ccc;
}

.board__list__board.card.card_add-new-board > p {
  margin: 0 0 5px 0;
}

.board__list__board.card .card-body {
  padding: 5px;
}

.board__list__board.board__list__board_new-board {
  background-color: #ccc;
  color: #172b4d;
  display: flex;
  justify-content: center;
  align-items: center;
}
