body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'aside main main'
    'footer footer footer';
  grid-row-gap: 1em;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
